# Problem 1

##### This problem involves working with a CSV file that contains data about cars. The tasks include loading this data into a pandas DataFrame and performing basic data inspection. Specifically:

1. **Loading the Data:**
    - The CSV file, which should be saved to the default user folder, needs to be read into a DataFrame named `cars` using pandas.
    - This requires utilizing the `pd.read_csv()` function to import the data.
2. **Displaying Key Data:**
    - Both the first and last five rows of the DataFrame should be displayed to understand its structure and content.
    - The `head()` method will show the initial rows, while the `tail()` method will reveal the final rows of the DataFrame.
   
##### The objective is to practice data loading and initial exploration techniques using pandas, which are fundamental for understanding and preparing data for further analysis. The code should be clear and well-commented to reflect these tasks effectively.

In [155]:
import pandas as pd

# Load the CSV file containing the model of cars and their specifications
cars = pd.read_csv('cars.csv')
cars

# Display both the head (first 5 rows) and tail (last 5 rows) of the DataFrame
# 'cars.head()' retrieves the first 5 rows by default
# 'cars.tail()' retrieves the last 5 rows by default
# 'pd.concat()' combines these two DataFrames into one
pd.concat([cars.head(), cars.tail()])

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# Problem 2

##### This problem involves analyzing a dataset containing information about cars. The task requires loading the dataset into a pandas DataFrame and performing basic operations to extract specific details. 

1. First, the CSV file should be read into a DataFrame named `cars` using the `pd.read_csv()` function.
2. The next step is to display the first five rows of the dataset while selecting only the odd-numbered columns.
3. Finally, an additional task involves displaying the value of the "Model" column for the first row.

##### These operations help in understanding basic indexing, column selection, and data retrieval in pandas.

In [157]:
import pandas as pd

# Load the CSV file containing the model of cars and their specifications
cars = pd.read_csv('cars.csv')

# a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7…)
print("First 5 rows with odd-numbered columns:")
print(cars.iloc[:5, 1::2])

# b. Display the row that contains the 'Model' of 'Mazda RX4'
print("\nRow with the 'Model' Mazda RX4:")
mazda_rx4_row = cars[cars['Model'] == 'Mazda RX4']
print(mazda_rx4_row,)

# c. How many cylinders does the car model 'Camaro Z28' have?
print("\nCylinders in 'Camaro Z28':")
camaro_cylinders = cars.loc[cars['Model'] == 'Camaro Z28', 'cyl']
print(camaro_cylinders.iloc[0], "cylinders\n")

# d. How many cylinders and what gear type the car models 'Mazda RX4 Wag', 'Ford Pantera L' and 'Honda Civic' have.
car_models = ['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']
print(f"Cylinders and gear type for {car_models}:")
selected_cars = cars[cars['Model'].isin(car_models)][['Model', 'cyl', 'gear']]
print(selected_cars)

First 5 rows with odd-numbered columns:
    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

Row with the 'Model' Mazda RX4:
       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

Cylinders in 'Camaro Z28':
8 cylinders

Cylinders and gear type for ['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']:
             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5